[mysqld]

max_connections = 200
max_connect_errors = 1000
wait_timeout = 28800
interactive_timeout = 28800

innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 4
key_buffer_size = 256M
query_cache_type = 1
query_cache_size = 128M
query_cache_limit = 4M

innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_log_file_size = 256M
innodb_log_buffer_size = 16M

thread_cache_size = 50
table_open_cache = 2048
table_definition_cache = 1024

slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2
log_queries_not_using_indexes = 1

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect = 'SET NAMES utf8mb4'

log-bin = mysql-bin
binlog_format = MIXED
expire_logs_days = 7
max_binlog_size = 100M

skip-symbolic-links